.register {
  /* position: relative; */
  /* background: url("../../img/bg-register.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 50px; */
  background-color: #d2d6db;
}
